<html xmlns:th="http://www.thymlead.org">
<head>
<meta charset="ISO-8859-1">
<title>Jobiak.ai</title>
</head>
<body>
<h1>Customer Details</h1>
<h2> First name:<h2 th:text="${customer.first_name}" style='background-color:aqua;'></h2>
<h2> Last name:<h2 th:text="${customer.last_name}" style='background-color:blue;'></h2>
<h2> Gender:<h2 th:text="${customer.gender}" style='background-color:blueviolet;'></h2>
<h2> Location:<h2 th:text="${customer.location}" style='background-color:chartreuse;'></h2>
<h2> Age:<h2 th:text="${customer.age}" style='background-color:tomato;'></h2>
<h2> Occupation:<h2 th:text="${customer.occupation}" style='background-color: rgb(255, 255, 0);'></h2>
</body>
</html>